<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
      <p>An aspiring data scientist actively looking for full time opportunities in data science and analytics. At present, I'm pursuing masters in Information Systems at the University of Texas at Arlington.</p> 
      <p>You can download a printable version of my resume <a href="https://drive.google.com/open?id=0B7wHnCVeQmaTN3RBVDFvSXJqZ0k" target="_blank">here</a>.</p>
</div><!--//summary-->
</section><!--//section-->
