<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Courses</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><li>Advanced Statistical Methods</li></h3><br>
                            <h3 class="job-title">Data Warehousing and Business Intelligence</h3><br>
							<h3 class="job-title">Principles of Data Mining</h3><br>
							<h3 class="job-title">A Programming Approach To Data Science</h3><br>
							<h3 class="job-title">Applied Business and Economics Data Analysis</h3><br>
							<h3 class="job-title">Enterprise Resource Planning</h3><br>
							<h3 class="job-title">Big Data Analytics</h3><br>
							<h3 class="job-title">Applied Time Series Analysis</h3><br>
							<h3 class="job-title">Introduction to Operations Research/ Management Science</h3><br>
							<h3 class="job-title">Information Systems Project Management</h3><br>
							<h3 class="job-title">Management of Information Technologies</h3><br>
							<h3 class="job-title">Marketing Management</h3><br>
							</div><!--//upper-row-->
                        </div><!--//meta-->
                    
                </div><!--//item-->
                                
            </section><!--//section-->
