<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Courses</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
			
                            <h3 class="job-title"><li>Advanced Statistical Methods</li></h3>
                            <h3 class="job-title"><li>Data Warehousing and Business Intelligence</li></h3>
							<h3 class="job-title"><li>Principles of Data Mining</li></h3>
							<h3 class="job-title"><li>A Programming Approach To Data Science</li></h3>
							<h3 class="job-title"><li>Applied Business and Economics Data Analysis</li></h3>
							<h3 class="job-title"><li>Enterprise Resource Planning</li></h3>
							<h3 class="job-title"><li>Big Data Analytics</li></h3>
							<h3 class="job-title"><li>Applied Time Series Analysis</li></h3>
				<h3 class="job-title"><li>Introduction to Operations Research/ Management Science</li></h3>
							<h3 class="job-title"><li>Information Systems Project Management</li></h3>
							<h3 class="job-title"><li>Management of Information Technologies</li></h3>
				<h3 class="job-title"><li>Marketing Management</li></h3>
							</div><!--//upper-row-->
                        </div><!--//meta-->
                    
                </div><!--//item-->
                                
            </section><!--//section-->
