 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Masters in Information Systems</h4>
    <h5 class="meta">University of Texas at Arlington</h5>
    <div class="time">Aug 2015 - May 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Bachelors in Information Technology</h4>
    <h5 class="meta">Anna University</h5>
    <div class="time">Aug 2008 - May 2012</div>
</div><!--//item-->
</div><!--//education-container-->
