<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research and Teaching Assistant</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Texas, Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        <p>Experiment design, data collection and processing for a research study on cultural adaptability of foreign students in the United States under Dr. Wendy Casper</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Business Analyst</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">SAP Labs India Pvt. Ltd, Bangalore, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        <ul><li>Implemented the use of reusable text blocks, to improve the effective resource utilization and lower the translation costs by 15%.</li>
                      <li>Significant contribution in UI and UX development of Success Factors Employee Central Solution’s Employee Benefits module.</li>
                      <li>2-time Constellation Award winner for developing solution deliverables for 14 country variants within a 3-month delivery cycle.</li></ul>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
