<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Research and Teaching Assistant</h3>
                            <div class="time">2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Texas, Arlington</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        <p>Experiment design, data collection and processing for a research study on cultural adaptability of foreign students in the United States under Dr. Wendy Casper</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Knowledge Analyst</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">SAP Labs India Pvt. Ltd, Bangalore, India</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p></p>  
                        <p>At SAP, I interacted with business analysts and SMEs to develop system specification documents, and delivered the following standard product documentation: Quick Guides, Concept documents, System Limitation Specifications, User Interface texts, Error and Warning messages and Test Case documents for SAP's cloud solutions. In the due course, I accrued expertise in the following domains: Expense Reimbursement Management, Financials and Reporting, Employee Benefits and Human Capital Management.</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
