<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Over the past few years I have worked on the following academic and pet projects. They are predominently in the fields of data science, machine learning and big data analytics. For work samples, click the respective titles.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/Yahoo-MusicArtistRecommendationSystem" target="_blank">Music Artist Recommendation on Yahoo! Music Data</a></span> - 
                    <span class="project-tagline">PySpark application to recommend users the music artists' they might like to listen to.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/PySpark-IrisFlowerClassification" target="_blank">Iris Flower Type Prediction</a></span> - 
                    <span class="project-tagline">Pyspark binary classification model based on Logistic Regression algorithm to predict the type of the Iris flower.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/HadoopMapReduce-USAirlinePerformance" target="_blank">Analyze On-time Performance of US Domestic Flights</a></span> - <span class="project-tagline">Hadoop MapReduce application to report maximum departure delay for each originating airport, average arrival delay by flight number and minimum arrival delay for all origin-destination airport combinations.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.linkedin.com/in/vivekadithya/" target="_blank">Yahoo! Answers Text Validation</a></span> - <span class="project-tagline">A python data application to validate the accuracy of the best answer selected by Yahoo! Answers.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://www.linkedin.com/in/vivekadithya/" target="_blank">Twitter Text Analysis on US Presidential Candidates</a></span> - <span class="project-tagline">A python based natural language processing application to perform sentiment analysis on US presidential candidates.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="http://www.slideshare.net/viveksampy/marketing-strategy-analysis-for-iphone7" target="_blank">Marketing Strategy Analysis for Apple's iPhone 7</a></span> - 
                    <span class="project-tagline">Based on our research, we proposed Apple Inc., the following recommedations.  Market iPhone 7 to India's IT sector, Expand to other industries in India and, Expand to other markets and US. Market research tools like ladder analysis, SWOT analysis, share holder models, position maps, brand association maps, value leadership analysis and interviews were used to devise the strategies.</span>
                </div><!--//item-->
  
                
            </section><!--//section-->
