<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Over the past few years I have worked on the following academic and pet projects. They are predominently in the fields of data science, machine learning and big data analytics.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/Yahoo-MusicArtistRecommendationSystem" target="_blank">Music Artist Recommendation on Yahoo! Music Data</a></span> - 
                    <span class="project-tagline">PySpark application to recommend users the music artists' they might like to listen to.</span>
                </div><!--//item-->
                
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/PySpark-IrisFlowerClassification" target="_blank">Iris Flower Type Prediction</a></span> - 
                    <span class="project-tagline">Pyspark binary classification model based on Logistic Regression algorithm to predict the type of an Iris flower.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/vivekadithya/HadoopMapReduce-USAirlinePerformance" target="_blank">Analyze On-time Performance of US Domestic Flights</a></span> - <span class="project-tagline">Hadoop MapReduce application to report maximum departure delay for each originating airport, average arrival delay by flight number and minimum arrival delay for all origin-destination airport combinations.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank"></a></span> - <span class="project-tagline">A comprehensive website template solution for startups/developers to market their mobile apps. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Delta</a></span> - <span class="project-tagline">A responsive Bootstrap one page theme designed to help app developers promote their mobile apps</span>
                </div><!--//item-->
            </section><!--//section-->
