<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-flask"></i>Research</h2>
                <div class="intro">
                    <p>Over the past few years I have worked on the following academic and pet projects. They are predominently in the fields of data science, machine learning and big data analytics.</p>
                </div><!--//intro-->
                  
                <div class="item">
                    <span class="project-title"><a href="http://www.slideshare.net/viveksampy/nosql-databases-an-introduction-and-comparison-between-dynamo-mongodb-and-cassandra" target="_blank">NoSQL Databases: An Introduction and Comparison between Dynamo, MongoDB and Cassandra</a></span> - <span class="project-tagline">The research paper covers the consolidated interpretation of NoSQL systems, on the basis of performance, scalability and data aggregation, and
compares the types of NoSQL databases based on their implementation and maintenance.</span>
                </div><!--//item-->
   <div class="item">
                    <span class="project-title"><a href="http://www.slideshare.net/viveksampy/enterprise-process-integeratioin" target="_blank">Enterprise Process Integeration</a></span> - <span class="project-tagline">The research subjects were selected from a huge pool, considering their job roles at their respective companies (mostly MNCs) and their experience with enterprise systems. They answered a questionnaire to help us understand the business process reengineering and maintenance methodologies adopted by their firms, and also to know how prepared were their management and other influencers for a process change in their organization. The findings were then compared to understand how firms and their management handled the changes without causing discomfort to its employees.</span>
                </div><!--//item-->
            </section><!--//section-->