<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-cogs"></i>Side Projects</h2>
                <div class="item">
                    <span class="project-title">Real Estate Price Prediction Flask Web Application</span> - 
                    <span class="project-tagline">Flask web application to predict the house price based on a machine learning model. The Decision Tree prediction model was trained to obtain the optimal price by fine tuning the hyper parameters. The model was finally deployed on Heroku cloud platform. [Tools and Technologies: Python, Pandas, Numpy, Pickle, Heroku, HTML, CSS, Git, Flask, Sklearn, matplotlib] </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://rpubs.com/vivekadithya/stockmarket1" target="_blank">Analyzing the Stock Market Data</a></span> - 
                    <span class="project-tagline">Apple, Amazon and Google stock market data analysis using Quantmod from Yahoo! Finance data.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Twitter Bot</span> - 
                    <span class="project-tagline">A twitter bot application to auto reply and auto post tweets.</span>
                </div><!--//item-->
                
                
            </section><!--//section-->
